body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

header {
  background-color: #4CAF50;
  color: white;
  padding: 10px 0;
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 2.5em;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: black 1px 1px 2px;
}

h2 {
  font-size: 1.5em;
  color: #37660b;
  margin-top: 20px;
  text-align: center;
  text-shadow: black 1px 1px 2px;
}

.black-cats {
  color: #000;
  text-shadow: white 1px 1px 2px;
}

.orange-cats {
  color: #ff8c00;
  text-shadow: #ff8c00 1px 1px 2px;
}
.tan-white-cats {
  color: #d2b48c;
  text-shadow: #d2b48c 1px 1px 2px;
}
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}

.search-form {
  margin: 20px 0;
}

.search-input {
  padding: 10px;
  width: 70%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.results {
  margin-top: 20px;
}

.cat-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.footer {
  text-align: center;
  padding: 20px;
  background-color: #4CAF50;
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
}

.reset-button {
  background-color: #af1e13;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
  position: fixed;
  bottom: 20px;
  right: 20px;
}